[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langsmith = "*"
pandas = "*"
langchain-experimental = "*"
matplotlib = "*"
langgraph = "*"
langchain-core = "*"
python-dotenv = "*"
psycopg = "*"
psycopg-pool = "*"

[dev-packages]

[requires]
python_version = "3.11"
